<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTRADAS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Quinto exemplo de barra de navegação">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">J&B GASTRONOMIA</font>
                </font>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="navbar-collapse collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">NOSSA HISTÓRIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pratos.html">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            MENU
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pratos' %}">PRATOS PRINCIPAIS</a></li>
                            <li><a class="dropdown-item" href="{% url 'entradas' %}">ENTRADAS</a></li>
                            <li><a class="dropdown-item" href="{% url 'bebidas' %}">BEBIDAS</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Procurar" aria-label="Procurar">
                </form>
            </div>
        </div>
    </nav>
    
   
       


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>