<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante j&b GASTRONOMIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            CARDÁPIO
          </font></font></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CARDÁPIO</font></font></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 justify-content-between">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">J&B GASTRONOMIA
                  <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'sobre' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOSSA HISTÓRIA</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'entradas' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ENTRADAS</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pratos' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PRATOS PRINCIPAIS</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'sobremesas' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SOBREMESAS</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bebidas' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BEBIDAS</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'reserva' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RESERVA</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'delivery' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DELIVERY</font></font></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cadastro_usuario' %}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CADASTRE-SE</font></font></a></li>

                  <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
                </a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>