<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Restaurante</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="my-4">Bem-vindo ao Nosso Restaurante!</h1>
        <p>Explore nosso cardápio e faça seu pedido online.</p>
       

        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'pedido_prato' %}" class="btn btn-primary btn-lg">Faça seu Pedido</a>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <a href="{% url 'listagem_pratos' %}" class="btn btn-info btn-lg">Ver Pedidos</a>
            </div>
        </div>
        

        
    
    </div>
</body>
</html>


