<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Quinto exemplo de barra de navegação">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">J&B GASTRONOMIA</font>
                </font>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="navbar-collapse collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobre' %}">NOSSA HISTÓRIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pratos.html">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            MENU
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'pratos' %}">PRATOS PRINCIPAIS</a></li>
                            <li><a class="dropdown-item" href="{% url 'entradas' %}">ENTRADAS</a></li>
                            <li><a class="dropdown-item" href="{% url 'bebidas' %}">BEBIDAS</a></li>
                        </ul>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Procurar" aria-label="Procurar">
                </form>
            </div>
        </div>
    </nav>
    
    <main>
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">J&B Gastronomia </font>
                    </font>
                </h1>
                <p class="col-lg-8 mx-auto lead">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <b>
                                J&B Gastronomia nasceu da paixão pela boa comida e pela hospitalidade acolhedora.
                                Fundado
                                por dois amigos de longa data, João e Bernardo, o restaurante é
                                um espaço que mistura tradição e modernidade,
                                oferecendo aos clientes uma experiência gastronômica única e memorável. </b>
                        </font>
                    </font><code></code>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                        </font>
                    </font>
                </p>
                <p class="col-lg-8 mx-auto lead">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <b>
                                Localizado no coração da cidade, o J&B combina um ambiente elegante e descontraído, com
                                uma
                                decoração que remete aos clássicos da culinária,
                                mas com toques contemporâneos. O menu é cuidadosamente elaborado, com pratos que
                                celebram as
                                raízes da gastronomia nacional e internacional.
                                Desde entradas sofisticadas até pratos principais refinados, a cada refeição, o J&B
                                transporta seus clientes para uma jornada de sabores intensos e aromas
                                envolventes.
                            </b>

                        </font>
                    </font><code></code>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                        </font>
                    </font>
                </p>
                <p class="col-lg-8 mx-auto lead">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">

                            <b>
                                A proposta do restaurante é oferecer uma culinária de qualidade, utilizando ingredientes
                                frescos e locais sempre que possível, com um serviço atencioso e dedicado. Seja para um
                                jantar romântico, uma reunião de negócios ou uma celebração especial, o J&B Gastronomia
                                garante uma experiência que vai além da refeição
                            </b>
                        </font>
                    </font><code></code>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                        </font>
                    </font>
                </p>
                <p class="col-lg-8 mx-auto lead">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">

                            <b>
                                Com uma carta de vinhos selecionada e sobremesas irresistíveis, o restaurante se tornou
                                um
                                ponto de encontro para aqueles que apreciam a boa comida e a companhia de bons amigos. O
                                sucesso do J&B não se resume apenas à qualidade dos pratos, mas também à amizade que une
                                João e Bernardo, que se reflete em cada detalhe do restaurante.
                            </b>
                        </font>
                    </font><code></code>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                        </font>
                    </font>
                </p>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>